@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
main {
    max-width: 592px;
    margin: auto;
    width: 90%;
}
main p:nth-child(4) {
    margin-bottom: 72px;
}
body {
    text-align: center;
}
main img {
    width: 348px;
    animation: samePlace 1.2s;
}
h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 56px;
    font-size: 49px;
    margin-top: 45px;
    animation: fromLeft 1.2s .1s backwards;
}
h1 span {
    font-weight: 700;
    color: #FF9900;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #7D7987;
    font-size: 14px;
    line-height: 28px;
    margin-top: 30px;
    animation: fromRight 1.2s .2s backwards;
}
main p:nth-child(4) {
    animation: fromLeft 1.2s .3s backwards;
}
p span {
    color: #FF9900;
}
footer {
    margin-top: -14px;
    margin-bottom: 33px;
    animation: fromBottom 1.2s .4s backwards;
}
.line {
    width: 568px;
    margin: auto;
    border: 1px solid #ECEFF2;
    margin-bottom: 8px;
}
footer a {
    font-family: 'Open Sans', sans-serif;
    color: #FF9900;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}
footer a:nth-child(3) {
    margin-left: 28px;
}
#balls {
    width: 98.39px;
    position: fixed;
    bottom: 0;
    right: 0;
    animation: fromRight 1.2s .5s backwards;
}
@keyframes fromLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fromRight {
    from {  
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes samePlace {
    from {
        opacity: 0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media only screen and (max-width:816px) {
    main img {
        width: 100%;
    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #balls {
        display: none;
    }
}